In [1]:
import pandas as pd

df1 = pd.read_csv("DataFinal.csv").drop(["Unnamed: 0"], axis=1)
df1.sort_values(by=["Points", "cardsEarned", "wins"], ascending=False)


df2 = pd.read_csv("Members.csv").drop("Unnamed: 0", axis=1)

# PONTUAÇÃO DAS PESSOAS QUE PARTICIPARAM DA GUERRA. OBS: APENAS O PRIMEIRO COLOCADO SERÁ PROMOVIDO A ANCIÃO.

In [2]:
df1

           tag             name  cardsEarned  wins  Points
0   #YRUQ0GUJC           pykeno         1360     3      20
1   #2JR98YPR8              Noe         1275     2      10
2   #PLU9LP908           shelby         1200     2      10
3   #92C9JP0V8          anthoni         1120     2       7
4    #99PRPLQU           Morena         1105     2       7
5   #228VQ0LC0            SnooP          765     2       7
6   #L2C9Y0CG0             yezo          960     3       5
7   #8GJYY0Y2Q     Dr. Estranho         1275     1       0
8   #LJPPJQR80            Maria         1200     0       0
9   #29QJQLYRU              ERB         1190     0       0
10  #2VJRYUYGG           Anakin         1190     1       0
11   #R22LC2LU           Candio         1105     3       0
12  #8VV2YUL0L        Anthoniel         1105     2       0
13   #R0JP82GQ          Alisson          975     0       0
14  #YGQU2LVGR           J TITO          960     3       0
15  #20QULQU9V        netodiniz          880     2       0
16   #GC9U0V2R         Salviano          880     1       0
17  #L2VLQU9UJ  Samuel Clash ON          800     2       0
18  #PV800U9Y8         Infaimom          675     0       0
19  #82GCJJP9G              yan          640     0       0
20  #8LR2J89JJ          Matheus          545     1       0
21  #8JGL090CP          leandro          510     0       0
22  #LQ9LVGV2C           Mell_n          490     0       0
23  #202YUCQQL      MysterClash          480     0       0
24  #PJYUPU2V9   felipe gerardi          450     2       0
25   #RP9V8GUC         AleeexP1          425     2       0
26  #8Y82J8LUL            Bruno          425     0       0
27   #RCVRCY9Q        Prodigy13          400     0       0
28     #9U0L28           Elizeu          400     0       0
29  #2092L02L0           Victor          340     1       0
30   #92Y8U0PP            david          340     1       0
31  #LUU2JPQQL             Jade          315     0       0
32  #YY9V2VCCL            YUSUF          300     0       0
33  #8Y2RRRJUU          Cคмเlคッ           85     0       0
34  #YY888JR2L            yanis           80     0       0

# CLASSIFICAÇÃO DAS DOAÇÕES. OBS: APENAS O PRIMEIRO SERÁ PROMOVIDO A ANCIÃO.

In [3]:
df2

           tag             name  expLevel  trophies  donations
0    #R22LC2LU           Candio        13      5844       1196
1   #PLU9LP908           shelby        10      5009        822
2   #LJPPJQR80            Maria        10      4826        673
3   #8Y82J8LUL            Bruno        12      5454        664
4   #29QJQLYRU              ERB        13      5814        617
5   #YGQU2LVGR           J TITO        10      4897        482
6   #2JR98YPR8              Noe        13      5304        442
7   #20QULQU9V        netodiniz         9      4802        438
8   #YRUQ0GUJC           pykeno        12      5345        392
9   #2VJRYUYGG           Anakin        13      5601        386
10  #8GJYY0Y2Q     Dr. Estranho        13      5517        357
11  #PJYUPU2V9   felipe gerardi         9      3864        337
12  #202YUCQQL      MysterClash        11      4761        257
13  #L2VLQU9UJ  Samuel Clash ON         9      4548        234
14   #RP9V8GUC         AleeexP1        12      5537        216
15   #RCVRCY9Q        Prodigy13        11      4971        196
16  #228VQ0LC0            SnooP        12      5357        172
17  #YY9V2VCCL            YUSUF         8      3770        135
18  #2092L02L0           Victor        12      5643        134
19  #L9UPGRRP2             皇室精英         8      4628        128
20  #8JGL090CP          leandro        11      5114        126
21  #8VV2YUL0L        Anthoniel        10      5173        117
22  #8Y2RRRJUU          Cคмเlคッ        11      5022        112
23     #9U0L28           Elizeu        10      4605        112
24  #82GCJJP9G              yan         9      4382        106
25  #8YGJUQJLC        CARLOS BR        11      4686        104
26  #LUU2JPQQL             Jade         8      2196         99
27   #99PRPLQU           Morena        12      5042         96
28   #92Y8U0PP            david        11      5083         74
29  #8LR2J89JJ          Matheus         9      4016         73
30  #PV800U9Y8         Infaimom         8      3965         70
31  #92C9JP0V8          anthoni        10      4746         70
32   #2V2VVU0C           Carlos        12      5006         66
33   #GC9U0V2R         Salviano        11      4502         36
34   #R0JP82GQ          Alisson        10      3776         36
35  #PJ2JJQVJY       Shevchenko         8      4484         34
36  #90RJVJ9V9     FB.GG/Boigas        12      5177         30
37  #YY888JR2L            yanis         9      4275         26
38  #PR0QYUGQ8             Enzo         9      4312         20
39  #892V98VG0          fredgff         9      4607         18
40   #RR2RRUP2       Zanark1221         9      4642         18
41     #CVYYLP  carlos Henrique        11      4361          0
42  #8LCPJL9C9             Dano         8      4306          0
43  #YCUYG2JYP          Pelezin         9      4665          0
44  #P9QJ0G0Q2        welton px        10      4765          0
45  #28QGVUQRU          Caio 45         7      2892          0
46  #L2RUC22CY             kaah         7      1330          0
47  #YLR9CRCUJ     davidmichael         6       914          0