In [1]:
import pandas as pd

# CLASSIFIÇÃO DAS PESSOAS QUE PONTUARAM NAS GUERRAS ATÉ AGORA. OBS: APENAS O PRIMEIRO COLOCADO SEŔA PROMOVIDO PARA ANCIÃO

In [6]:
RANK = pd.read_csv("rank.csv").drop("Unnamed: 0", axis=1)

In [7]:
RANK

           Tag     Nome  TotalCartas  TotalVitorias  TotalPontos
0  #YRUQ0GUJC    pykeno          510              1           10
1  #92C9JP0V8   anthoni          480              1            7
2  #L2C9Y0CG0      yezo          400              1            5

# CLASSIFIÇÃO DAS DOAÇÕES. OBS: APENAS O PRIMEIRO SERÁ PROMOVIDO PARA ANCIÃO

In [8]:
DONATION = pd.read_csv("donations").drop("Unnamed: 0", axis=1)

In [11]:
DONATION.head(11)

           tag             name      role  trophies  donations
0    #R22LC2LU           Candio    leader      5860        314
1   #LJPPJQR80            Maria    member      4829        187
2   #PJYUPU2V9   felipe gerardi    member      3760        144
3   #8Y82J8LUL            Bruno  coLeader      5315        136
4   #29QJQLYRU              ERB    member      5656        113
5   #PLU9LP908           shelby    member      4908        113
6   #2JR98YPR8              Noe    member      5262        104
7   #L2VLQU9UJ  Samuel Clash ON    member      4457         97
8    #RCVRCY9Q        Prodigy13    member      4957         96
9   #20QULQU9V        netodiniz    member      4864         92
10  #L2C9Y0CG0             yezo    member      4709         90

# MINIMO DE DOAÇÕES NECESSARIAS ESSA SEMANA: