In [1]:
import pandas as pd

df1 = pd.read_csv("DataFinal.csv").drop(["Unnamed: 0"], axis=1)
df1.sort_values(by=["Points", "cardsEarned", "wins"], ascending=False)


df2 = pd.read_csv("Members.csv").drop("Unnamed: 0", axis=1)

# PONTUAÇÃO DAS PESSOAS QUE PARTICIPARAM DA GUERRA. OBS: APENAS O PRIMEIRO COLOCADO SERÁ PROMOVIDO A ANCIÃO.

In [18]:
df1

           tag             name  cardsEarned  wins  Points
0   #YRUQ0GUJC           pykeno          510     1      10
1   #PLU9LP908           shelby          320     1      10
2   #228VQ0LC0            SnooP          425     1       7
3   #92C9JP0V8          anthoni          480     1       7
4   #L2C9Y0CG0             yezo          400     1       5
5   #2JR98YPR8              Noe          425     0       5
6   #82GCJJP9G              yan          320     0       0
7   #LQ9LVGV2C           Mell_n          210     0       0
8   #LUU2JPQQL             Jade          180     0       0
9   #YY888JR2L            yanis           80     0       0
10  #2092L02L0           Victor          340     1       0
11     #9U0L28           Elizeu          320     0       0
12   #92Y8U0PP            david          340     1       0
13   #RP9V8GUC         AleeexP1          170     1       0
14  #8Y82J8LUL            Bruno          425     0       0
15   #RCVRCY9Q        Prodigy13          400     0       0
16  #PV800U9Y8         Infaimom          375     0       0
17   #GC9U0V2R         Salviano          320     0       0
18  #LJPPJQR80            Maria          400     0       0
19   #R0JP82GQ          Alisson          375     0       0
20  #8GJYY0Y2Q     Dr. Estranho          425     0       0
21  #8VV2YUL0L        Anthoniel          425     0       0
22  #29QJQLYRU              ERB          425     0       0
23  #2VJRYUYGG           Anakin          425     0       0
24  #20QULQU9V        netodiniz          240     1       0
25   #99PRPLQU           Morena          255     1       0
26  #8LR2J89JJ          Matheus          305     1       0
27  #L2VLQU9UJ  Samuel Clash ON          320     1       0
28   #R22LC2LU           Candio          340     1       0
29  #PJYUPU2V9   felipe gerardi          375     1       0
30  #YGQU2LVGR           J TITO          400     1       0
31  #8Y2RRRJUU          Cคмเlคッ           85     0       0

# CLASSIFICAÇÃO DAS DOAÇÕES. OBS: APENAS O PRIMEIRO SERÁ PROMOVIDO A ANCIÃO.

In [17]:
df2

           tag             name  expLevel  trophies  donations
0    #R22LC2LU           Candio        13      5806        686
1   #8Y82J8LUL            Bruno        12      5376        518
2   #PLU9LP908           shelby        10      4913        422
3   #LJPPJQR80            Maria        10      4854        402
4   #29QJQLYRU              ERB        13      5795        334
5   #PJYUPU2V9   felipe gerardi         9      3884        319
6   #2JR98YPR8              Noe        13      5304        274
7   #20QULQU9V        netodiniz         9      4823        266
8   #L2C9Y0CG0             yezo         8      4611        241
9   #YGQU2LVGR           J TITO        10      4868        221
10  #2VJRYUYGG           Anakin        13      5631        208
11  #8GJYY0Y2Q     Dr. Estranho        13      5420        167
12  #YRUQ0GUJC           pykeno        12      5186        157
13   #RCVRCY9Q        Prodigy13        11      4964        154
14  #L2VLQU9UJ  Samuel Clash ON         9      4453        150
15  #202YUCQQL      MysterClash        11      4443        125
16  #2092L02L0           Victor        12      5634        116
17  #L9UPGRRP2             皇室精英         8      4663        110
18  #8VV2YUL0L        Anthoniel        10      5192        109
19  #228VQ0LC0            SnooP        12      5144         94
20  #8JGL090CP          leandro        11      5077         74
21     #9U0L28           Elizeu        10      4605         66
22   #92Y8U0PP            david        11      5052         64
23   #RP9V8GUC         AleeexP1        12      5303         64
24  #82GCJJP9G              yan         9      4379         58
25  #8Y2RRRJUU          Cคмเlคッ        11      5022         57
26  #LUU2JPQQL             Jade         8      1883         52
27  #92C9JP0V8          anthoni        10      4746         52
28  #8LR2J89JJ          Matheus         9      4036         52
29   #2V2VVU0C           Carlos        12      5006         48
30  #LQ9LVGV2C           Mell_n         8      3451         44
31  #PV800U9Y8         Infaimom         8      3965         42
32   #GC9U0V2R         Salviano        11      4502         36
33  #8YGJUQJLC        CARLOS BR        11      4656         28
34  #YY888JR2L            yanis         9      4275         26
35  #90RJVJ9V9     FB.GG/Boigas        12      5199         20
36   #RR2RRUP2       Zanark1221         9      4659         18
37   #99PRPLQU           Morena        12      5013         16
38   #R0JP82GQ          Alisson        10      3686         12
39  #PR0QYUGQ8             Enzo         9      4312         10
40  #YY9V2VCCL            YUSUF         8      3600          6
41  #82VU8P8PP         Henrique         9      3302          0
42  #28QGVUQRU          Caio 45         7      2791          0
43  #L2RUC22CY             kaah         7      1330          0
44  #PJ2JJQVJY       Shevchenko         8      4434          0
45  #Y0L8GVJLJ         HVBastos         9      4220          0
46  #P9QJ0G0Q2        welton px        10      4578          0
47  #YCUYG2JYP          Pelezin         9      4665          0
48  #YLR9CRCUJ     davidmichael         6       914          0