In [182]:
import pandas as pd
import numpy as np

In [183]:
with open("DataFinal.txt", "r") as file:
    
    lines = file.readlines()

In [184]:
lista1 = [lines[i].split("*") for i in range(len(lines))]
lista1 = np.array(lista1)

In [185]:
lista2 = [lista1[i][2].split(" ") for i in range(len(lista1))]
_ = [lista2[i].pop(0) for i in range(len(lista2))]

In [186]:
lista2 = np.array(lista2, dtype=np.int64)

In [187]:
df = pd.DataFrame(data=[lista1[:, 0], lista1[:, 1], lista2[:, 0], lista2[:, 1], lista2[:, 2]]).T.sort_values(by=[4], ascending=False)
df.columns = [["Tag", "Nome", "TotalCartas", "TotalVitorias", "TotalPontos"]]

In [188]:
df

           Tag             Nome TotalCartas TotalVitorias TotalPontos
2  #YRUQ0GUJC            pykeno        1020             2          20
0  #92C9JP0V8           anthoni         480             1           7
3  #L2VLQU9UJ   Samuel Clash ON         400             1           7
1  #L2C9Y0CG0              yezo         400             1           5
4  #82GCJJP9G               yan         320             1           5