In [1]:
import pandas as pd

# CLASSIFIÇÃO DAS PESSOAS QUE PONTUARAM NAS GUERRAS ATÉ AGORA. OBS: APENAS O PRIMEIRO COLOCADO SEŔA PROMOVIDO PARA ANCIÃO

In [9]:
RANK = pd.read_csv("rank.csv").drop("Unnamed: 0", axis=1)

In [10]:
RANK

           Tag     Nome  TotalCartas  TotalVitorias  TotalPontos
0  #YRUQ0GUJC    pykeno          510              1           10
1  #92C9JP0V8   anthoni          480              1            7
2  #L2C9Y0CG0      yezo          400              1            5

# CLASSIFIÇÃO DAS DOAÇÕES. OBS: APENAS O PRIMEIRO SERÁ PROMOVIDO PARA ANCIÃO

In [11]:
DONATION = pd.read_csv("donations").drop("Unnamed: 0", axis=1)

In [12]:
DONATION.head(11)

           tag             name      role  trophies  donations
0    #R22LC2LU           Candio    leader      5906        414
1   #8Y82J8LUL            Bruno  coLeader      5371        272
2   #PLU9LP908           shelby    member      4913        235
3   #29QJQLYRU              ERB    member      5789        221
4   #PJYUPU2V9   felipe gerardi    member      3807        203
5   #LJPPJQR80            Maria    member      4829        187
6   #2JR98YPR8              Noe    member      5262        166
7    #RCVRCY9Q        Prodigy13    member      4981        154
8   #20QULQU9V        netodiniz    member      4853        143
9   #L2C9Y0CG0             yezo    member      4724        142
10  #L2VLQU9UJ  Samuel Clash ON    member      4457        123

# MINIMO DE DOAÇÕES NECESSARIAS ESSA SEMANA:

In [13]:
DONATION["donations"].mean()*5

346.0