In [1]:
import pandas as pd

In [10]:
df1 = pd.read_csv("DataFinal.csv").drop(["Unnamed: 0"], axis=1)

In [14]:
df1.sort_values(by=["Points", "cardsEarned", "wins"], ascending=False).head(10)

           tag          name  cardsEarned  wins  Points
0   #YRUQ0GUJC        pykeno          510     1      10
1   #PLU9LP908        shelby          320     1      10
3   #92C9JP0V8       anthoni          480     1       7
2   #228VQ0LC0         SnooP          425     1       7
5   #2JR98YPR8           Noe          425     0       5
4   #L2C9Y0CG0          yezo          400     1       5
14  #8Y82J8LUL         Bruno          425     0       0
20  #8GJYY0Y2Q  Dr. Estranho          425     0       0
21  #8VV2YUL0L     Anthoniel          425     0       0
22  #29QJQLYRU           ERB          425     0       0